# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/.idea

/color-button/node_modules
/color-button/.vscode
/color-button/.eslintrc.json

/sundaes-on-demand/node_modules
/sundaes-on-demand/.vscode
/sundaes-on-demand/.eslintrc.json

/sundae-server/node_modules

